name: continuous-integration
on: push

defaults:
  run:
    shell: pwsh

jobs:
  test:
    runs-on: ${{matrix.platform}}
    strategy:
      matrix:
        platform: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - name: Fetch sources
        uses: actions/checkout@v6
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          cache: npm
          node-version: latest
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: ./Invoke.ps1 Test
